@use "../utils" as u;

.about {
  padding-block: 5rem;
  display: grid;
  place-items: center;
  gap: 2rem;

  @include u.breakpoint(large) {
    padding-block: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1.25rem;

    img {
      height: auto;
      width: 100%;
    }

    & img:nth-child(1) {
      grid-row: span 2;
    }

    & img:nth-child(3) {
      grid-column: 2;
    }
  }
}
