@use "../utils" as u;

#portfolio {
  .project-card {
    margin-top: 3.5rem;
    display: grid;
    text-align: start;
    gap: 1.375rem;

    @include u.breakpoint(large) {
      margin-top: 4.375rem;
      grid-template-columns: repeat(2, 1fr);

      &:nth-last-of-type(2) {
        margin-block: 8rem;
        picture {
          order: 2;
        }
        .project-card__content .project-card__links {
          margin-top: auto;
          margin-bottom: 1.125rem;
        }
      }
    }

    &:nth-last-of-type(2) .project-card__content p::before {
      content: "Hackathon Project: ";
      font-weight: bold;
      color: var(--text-white);
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    picture {
      img {
        width: 100%;

        @include u.breakpoint(large) {
          width: auto;
        }
      }
    }

    &__title {
      margin-bottom: 1.125rem;
      font-size: clamp(1.13rem, calc(0.78rem + 1.7vw), 1.88rem);
      line-height: 1.1;
      letter-spacing: 0.075rem;
    }

    &__description {
      font-size: clamp(1rem, calc(0.89rem + 0.57vw), 1.25rem);
      color: var(--text-gray);
      font-family: var(--ff-secondary-font);
    }

    &__links {
      margin-block: 1.125rem;
      display: flex;
      align-items: center;
      gap: 1.25rem;

      @include u.breakpoint(large) {
        margin-top: auto;
        margin-bottom: 1.125rem;
      }
    }
    &__link-item {
      background-color: var(--btn-primary);
      border-radius: 0.3125rem;
      transition: 0.2s;

      a {
        padding: 0.3125rem 0.625rem;
        display: flex;
        gap: 0.625rem;
        align-items: center;
        font-family: var(--ff-primary-font);

        img {
          display: none;

          @include u.breakpoint(medium) {
            display: block;
          }
        }
      }
      &:hover,
      &:focus {
        scale: (0.8);
      }
    }

    &__tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.625rem;

      & > * {
        font-family: var(--ff-secondary-font);
        padding: 0.3125rem;
        border-radius: 0.3125rem;
        border: 0.125rem solid var(--text-white);
        color: var(--text-gray);
      }
    }
  }
}
