---
import "../styles/pages/_error.scss";
---

<main>
  <section aria-labelledby="error-heading" class="error-container">
    <h1 id="error-heading">Error 404</h1>
    <p>
      The page you are looking for might have been removed, had its name changed
      or is temporarily unavailable.
    </p>
    <p><strong>Error code:</strong> 500</p>
    <a href="/">Return to homepage</a>
  </section>
  <div class="torch"></div>
  <span id="easter"></span>
  <dialog id="dialog" class="dialog">
    <h2>Awesome!</h2>
    <p>You found the easter egg on my website!</p>
    <button id="class-modal">Close</button>
  </dialog>
</main>

<script src="../js/404.js"></script>
