---
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Stack from "../components/Stack.astro";
import "../styles/main.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <Hero />
        <Stack />
        <Projects />
        <About />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script src="../js/sectionObserver.js"></script>
