---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/main.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <section id="home">Home</section>
        <section id="skills">Skills</section>
        <section id="portfolio">portfolio</section>
        <section id="about">About</section>
      </main>
      <Footer />
    </div>
  </body>
</html>
