<section id="home" class="hero">
  <div class="hero__content">
    <h1 class="hero__heading">
      Frontend developer specializing in clean, responsive code
    </h1>
    <p class="hero__subheading">
      Passionate about creating performant and maintainable frontend code
    </p>
    <a href="#portfolio" class="hero__link">Explore my work!</a>
  </div>
  <div class="hero__image-container">
    <img
      alt="guy in his computer"
      src="/hero-img.webp"
      loading="lazy"
      decoding="async"
      width="525"
      height="auto"
    />
  </div>
</section>
