@font-face {
  font-family: "Raleway";
  font-size: 400;
  src: url("/fonts/raleway/raleway-regular.woff2") format("woff2"),
    url("/fonts/raleway/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-size: 600;
  src: url("/fonts/raleway/raleway-semibold.woff2") format("woff2"),
    url("/fonts/raleway/raleway-semibold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-size: 400;
  src: url("/fonts/poppins/poppins-regular.woff2") format("woff2"),
    url("/fonts/poppins/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-size: 700;
  src: url("/fonts/poppins/poppins-bold.woff2") format("woff2"),
    url("/fonts/poppins/poppins-bold.woff") format("woff");
}
